<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <appSettings>
    <add key="title" value="无忧技术档案管理系统1.0"/>
    <add key="keywords" value="无忧技术档案管理系统1.0 无忧互联网科技 http://5i.meibu.com"/>
    <add key="description" value="无忧技术档案管理系统1.0 无忧互联网科技 http://5i.meibu.com"/>
  </appSettings>
</configuration>
